@model IEnumerable<MusicStore.Models.Album>

@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="jumbotron" style="background-color:lightblue">
    <div class="container">
        <div class="row well well-lg">
            <div class="col-md-6 col-md-offset-3 centerfy">
                <div class="">
                    <img src="~/images/logo.png" class="img-responsive text-center" />
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="row list-unstyled jumbotron-fluid" id="random-albums">
    @foreach (var item in Model)
    {
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
            @Html.Partial("_AlbumDetail", item)
        </li>
    }
</ul>